/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #eaeaea;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;

}

.menu {
    list-style: none;
    display: flex;
    gap: 50px;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.user-actions {
    display: flex;
    gap: 10px;
}

.user-page, .login-btn {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    background-color: #fff;
}

.login-container {
    width: 30%;
    padding: 100px;
    background-color: #f0f0f0;
    /*border-radius: 30px;*/
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 75%;
}

.login-container h2 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    align-items: center;
}

.login-container form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 70%;
}

.login-container form button {
    padding: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-login {
    margin-top: 20px;
    text-align: center;
}

.social-login p {
    margin-bottom: 20px;
}

.social-login button {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 50%;
    justify-content: center;
}

.google-login {
    background-color: #fff;
    color: #000;
}

.google-login img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.facebook-login {
    background-color: #fff;
    color: #000;
}

.facebook-login img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.image-container {
    width: 30%;
    /*padding: 100px;*/
    background-color: #9181F4;
    /*border-radius: 30px; */
    border-top-right-radius: 30px; /* Canto superior direito */
    border-bottom-right-radius: 30px; /* Canto inferior direito */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 75%;
    position: relative;
}

.background-image {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    /*border-radius: 30px; */
    border-top-right-radius: 30px; /* Canto superior direito */
    border-bottom-right-radius: 30px; /* Canto inferior direito */
}

.overlay-image-1 {
    position: absolute;
    top: 50%;   /* Posição vertical: Ajuste conforme necessário */
    left: 50%;  /* Posição horizontal: Ajuste conforme necessário */
    transform: translate(-50%, -50%); /* Centraliza a imagem */
    width: 310px; /* Defina o tamanho da imagem sobreposta */
    height: auto;
    border-radius: 30px;
}

.overlay-image-2 {
    position: absolute;
    top: 50%;   /* Posição vertical: Ajuste conforme necessário */
    left: 50%;  /* Posição horizontal: Ajuste conforme necessário */
    transform: translate(-50%, -50%); /* Centraliza a imagem */
    width: 290px; /* Defina o tamanho da imagem sobreposta */
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 45px;
    background-color: #333;
    color: #fff;
}

.left-section {
    margin-left: 20px;
}

.left-section p:first-child {
    margin-bottom: 10px; /* Adicione o valor de espaçamento desejado */
}

.right-section {
    margin-right: 20px;
    margin-top: auto;
}

.right-section p {
    margin-bottom: 10px;
}

.right-section img {
    width: 24px;
    height: 24px;
}

.social-links img {
    width: 25px;
    margin: 0 12px;
}
